@{
  Layout = "_Layout";
}

@model Salon.Models.Stylists

<h2>Add a new Stylist</h2>


@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StylistName)
  @Html.TextBoxFor(model => model.StylistName)

  @Html.LabelFor(model => model.Age)
  @Html.TextBoxFor(model => model.Age)

  @Html.LabelFor(model => model.HairStyles)
  @Html.TextBoxFor(model => model.HairStyles)
  
  <button type="submit" class="btn btn-primary" style="width:250px">Add New Stylist</button>
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>