@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist

<h2>Stylists Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)<h3>
<h3>@Html.DisplayNameFor(model => model.HairStyles): @Html.DisplayFor(model => model.HairStyles)<h3>
<h3>@Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age)<h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This stylist does not contain any clients</p>
}
else
{
  <h4>Clients the stylist contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Clients.Name</li>
  }
  </ul>
}


  <p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
  <p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
  <p>@Html.ActionLink("Back to list", "Index")</p>