@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist

<h1>@Html.DisplayFor(model => model.StylistName)'s Details</h1>

<table class ="table table-borderd table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                <h3>Id</h3>
            </th>
            <th>
                <h3>Stylist Name</h3>
            </th>
            <th>
                <h3>Hair Styles</h3>
            </th>
            <th>
                <h3>Age</h3>
            </th>
        </tr>
    </thead>
    <tbody>
            <tr class="table table-hover table-secondary">
                <td width 10%>
                    <h4>@Html.DisplayFor(model => model.StylistId)</h4>
                </td>
                <td width 50%>
                    <h4>@Html.DisplayFor(model => model.StylistName)</h4>
                </td>
                <td width 50%>
                    <h4>@Html.DisplayFor(model => model.HairStyles)</h4>
                </td>
                <td width 50%>
                    <h4>@Html.DisplayFor(model => model.Age)</h4>
                </td>
                <td width 50%>
                    @Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId }, new { @class = "btn btn-outline-info" })
                </td>
                <td width 50%>
                    @Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
    </tbody>
</table>
@if(@Model.JoinEntities.Count == 0)
{
  <p>This stylist does not contain any clients</p>
}
else
{
  <h1>@Html.DisplayFor(model => model.StylistName)'s Client List:</h1>

    <table class ="table table-borderd table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                <h3>Id</h3>
            </th>
            <th>
              <h3>Client Name</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var join in Model.JoinEntities)
        {
            <tr class="table table-hover table-secondary">
                <td width 10%>
                  <h4>@join.Clients.ClientId</h4>
                </td>
                <td width 50%>
                  <h4>@join.Clients.Name</h4>
                </td>
                <td>
                @Html.ActionLink("Details", "Details", "Clients", new { id = @join.Clients.ClientId}, new { @class = "btn btn-outline-info" })
                </td>
                <td>
                  @Html.ActionLink("Edit", "Edit", "Clients", new { id = @join.Clients.ClientId}, new { @class = "btn btn-outline-info" })
                </td>
                <td>
                @Html.ActionLink("Delete", "Delete", "Clients", new { id = @join.Clients.ClientId}, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
  }
  </ul>
