@{
  Layout = "_Layout";
}

@using Salon.Models;

<h1>Stylists</h1>

@if (@Model.Count == 0)
{
  <h3>No Stylists have been added yet!</h3>
} 

<table class ="table table-borderd table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Stylist Name
            </th>
            <th>
                Hair Styles
            </th>
            <th>
                Age
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Stylist stylists in Model)
        {
            <tr class="table table-hover table-secondary">
                <td width 10%>
                    @stylists.StylistId
                </td>
                <td width 50%>
                    @stylists.StylistName
                </td>
                <td width 30%>
                    @stylists.HairStyles
                </td>
                <td width 30%>
                    @stylists.Age
                </td>
                <td>
                @Html.ActionLink("Details", "Details", new { id = @stylists.StylistId}, new { @class = "btn btn-outline-warning" })
                </td>
                <td>
                  @Html.ActionLink("Edit", "Edit", new { id = @stylists.StylistId}, new { @class = "btn btn-outline-warning" })
                </td>
                <td>
                @Html.ActionLink("Delete", "Delete", new { id = @stylists.StylistId}, new { @class = "btn btn-outline-danger" })
                </td>

            </tr>
        }
    </tbody>
</table>