@{
  Layout = "_Layout";
}

@model Salon.Models.Client
<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This client does not belong to any stylists</p>
}
else
{
  <h4>Stylist's the Client belongs to:</h4>
  <table class ="table table-borderd table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                <h3>Id</h3>
            </th>
            <th>
              <h3>Client Name</h3>
            </th>
            <th>
              <h3>Stylist Name</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var join in Model.JoinEntities)
        {
            <tr class="table table-hover table-secondary">
                <td width 10%>
                  <h4>@join.Clients.ClientId</h4>
                </td>
                <td width 50%>
                  <h4>@join.Clients.Name</h4>
                </td>
                <td width 50%>
                  <h4>@join.Stylists.StylistName</h4>
                </td>
                <td>
                  @Html.ActionLink("Edit", "Edit", "Clients", new { id = @join.Clients.ClientId}, new { @class = "btn btn-outline-info" })
                </td>
                <td>
                @Html.ActionLink("Delete", "Delete", "Clients", new { id = @join.Clients.ClientId}, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
}

<br>
<p>@Html.ActionLink("Back to Clients", "Index")</p>
<p>@Html.ActionLink("Add a Stylist", "AddStylist", new { id = Model.ClientId })</p>