@{
  Layout = "_Layout";
}

@using Salon.Models;

<h1>All Salon Clients</h1>

<table class ="table table-borderd table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Client Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Client clients in Model)
        {
            <tr class="table table-hover table-secondary">
                <td width 10%>
                    @clients.ClientId
                </td>
                <td width 50%>
                    @clients.Name
                </td>
                <td>
                @Html.ActionLink("Details", "Details", new { id = @clients.ClientId}, new { @class = "btn btn-outline-warning" })
                </td>
                <td>
                  @Html.ActionLink("Edit", "Edit", new { id = @clients.ClientId}, new { @class = "btn btn-outline-warning" })
                </td>
                <td>
                @Html.ActionLink("Delete", "Delete", new { id = @clients.ClientId}, new { @class = "btn btn-outline-danger" })
                </td>

            </tr>
        }
    </tbody>
</table>

<p>@Html.ActionLink("Add New Client", "Create", new { id = 1 }, new { @class = "btn btn-outline-success" })</p>