@{
  Layout = "_Layout";
}

@using Salon.Models;
@model List<Salon.Models.Client>;

<h1>Salon Clients</h1>

<table class ="table table-borderd table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Client Name
            </th>
            <th>
                Stylist
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Client join in Model)
        {
            <tr class="table table-hover table-secondary">
                <td width 10%>
                    @join.ClientId
                </td>
                <td width 50%>
                    @join.Name
                </td>
                <td>
                @Html.ActionLink("Details", "Details", new { id = @join.ClientId}, new { @class = "btn btn-outline-dark" })
                </td>
                <td>
                  @Html.ActionLink("Edit", "Edit", new { id = @join.ClientId}, new { @class = "btn btn-outline-dark" })
                </td>
                <td>
                @Html.ActionLink("Delete", "Delete", new { id = @join.ClientId}, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>@Html.ActionLink("Add New Client", "Create","Clients", new { @class = "btn btn-outline-success" })</p>